@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
}

.container {
  display: flex;
  background: #262525;
  border-radius: 30px;
  border: 1px solid #444;
  overflow: hidden;
  width: 100%;
  max-width: 1229px;
  height: 671px;
}

.sidebar {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}

.icon-box {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content {
  display: flex;
  gap: 20px;
  height: 100%;
}

.header {
  font-size: 16px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-row {
  display: flex;
  gap: 20px;
}

.small-card {
  background: #1d1d1d;
  border-radius: 15px;
  padding: 30px;
  flex: 1;
  width: 245px;
  height: 153px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.stack {
  display: flex;
  align-items: center;
  width: 218px;
  margin: 25px;
  height: 240px;
  margin-bottom: 50px;
}

.card {
  width: 218px;
  height: 251px;
  border-radius: 28px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.teal {
  background: #2fa4a9;
  transform: translate(45px, 5px) rotate(15deg);
  z-index: 1;
}
.yellow {
  background: #e0a84f;
  margin-left: -190px;
  transform: translate(18px, 17px) rotate(9deg);
  z-index: 2;
}

.purple {
  background: #6f2dbd;
  margin-left: -190px;
  transform: translate(-11px, 30px);
  z-index: 3;
}

.middle-row {
  display: flex;
  gap: 20px;
  width: 779px;
}

.big-card {
  background: #1d1d1d;
  border-radius: 15px;
  padding: 30px;
  flex: 1;
  height: 195px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bottom-row {
  display: flex;
  gap: 20px;
  flex: 1;
}

.bottom-card {
  background: #1d1d1d;
  border-radius: 15px;
  padding: 30px;
  height: 157px;
  width: 381px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex: 1;
  margin-bottom: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tall {
  width: 258px;
  height: 273px;
}
